.header {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: #00bcd4;
  padding: 15px;
  display: flex;
    justify-content: center;
}
#movie-image {
  width: 100px;
    height: 200px;
    object-fit: cover;
    /* margin-left: 5px; */
    border-radius: 10px;
}
.container {
  display: flex;
    width: 430px;
    height: auto;
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 10px;
}
.Movies {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
input {
  width: 90%;
  padding: 12px;
  margin-top: 22px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid;
}
.button {
  padding: 5px;
  background-color: green;
  border: none;
  width: auto;
  font-size: 27px;
  color: wheat;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.form {
  display: flex;
    align-items: flex-end;
    margin-left: 1%;
   margin-bottom: 2%;
}
.maindata {
  margin-left: 20px;
}
.internet {
  text-align: center;
  font-size: 22px;
  color: red;
}
.spinner {
  width: 100px;
  margin: 40px auto;
  display: block;
}
.title {
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 2%;
}
.flex {
  display: flex;
    justify-content: space-between;
}
.data {
  font-family: sans-serif;

}
.star {
  display: flex;
    align-items: center;
}
.checked {
  color: gold;
  margin: 7px;

}
.error {
  font-size: 20px;
  margin-top: 5%;
}
.black {
  background-color: black;
  color: white;
  height: 100%;
  
}
.black .header {
  background-color: #1b2938;
}
.light {
  background-color: white;
  color: black;
}
.data-poster {
  margin: auto;
}



/*  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}